body{
    
    background-color: #96b722;
    font-size: 14px;
}

header{
    
    line-height: 120px;
    min-height: 120px;
    color: black;
    text-shadow: 0 0 3px gray;
    text-align: center;
    font-size: 300%;
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   

}
nav{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer{
   
    color:black;                                                                                                                                                                                                                                                                                                                                                                       
    font-size: 100%;
    letter-spacing: 3px;
    text-align: center;
    min-height: 40px;
    background-color: whitesmoke;
    
}

main{
    padding: 10px;
}

.container{
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 10px;
    margin-top:  10px;
    border-radius: 15px;
}

img{
    height: auto;
    width: 100%;
    margin: 0 auto 0;
}